.sandbox {
    margin: 0 15px;
}

mat-row:hover {
    transition: 0.2s;
}

mat-row:hover {
    background-color: #eee;
}

form {
    display: flex;
    margin: 0 auto 32px;
    padding: 16px;
    flex-direction: column;
    background-color: #eee;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

label {
    font-size: 9px;
    color: #3f51b5;
    font-weight: bold;
}

mat-form-field {
    margin: 10px;
}

.close-window {
    position: absolute;
    margin-left: 480px;
    padding: 5px 10px;
    font-weight: bold;
    border: 1px solid black;
    margin-top: -10px;
    border-radius: 50px;
    transition: 0.3s;
    cursor: pointer;
}

.close-window:hover {
    background-color: black;
    color: white;
}

.cell-header--delete {
    max-width: 25px;
}

.cell--delete {
    max-width: 25px;
}

.p--delete {
    cursor: pointer;
}

