<h4>Follow me on other platforms</h4>

<!-- Social Links -->
<div class="container">
    <!-- GitHub -->
    <a id="github" class="circle-link" title="GitHub" href="https://github.com/Miles07"
       target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="faGithubIcon"></fa-icon>
    </a>

    <!-- LinkedIn -->
    <a id="linkedin" class="circle-link" title="LinkedIn" href="https://www.linkedin.com/in/miltonroth/"
       target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="faLinkedInIcon"></fa-icon>
    </a>

    <!-- Twitter -->
    <a id="twitter" class="circle-link" title="Twitter" href="https://twitter.com/ml_roth_"
       target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="faTwitterIcon"></fa-icon>
    </a>

</div>
