.toolbar {
  position: sticky;
  top: 0;
  height: 60px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
  padding: 0 1rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(87, 125, 164, 0) 100%);
  z-index: 1;
  transition: 0.25s;

  &--body {
    color: red;
    background: white;
    -webkit-box-shadow: 0 10px 32px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 10px 32px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 32px 0 rgba(0, 0, 0, 0.3);
  }
}
