/* global styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 8px 0;
}

h1 {
  font-size: 60px;
}

p {
  margin: 0;
  font-size: 20px;
}

// -- Mobile --
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 30px;
  }

  p {
    margin: 0;
    font-size: 10px;
  }
}
